body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f8fa;
    font-size: 14px;
    line-height: 1.6;
    /*color: #636b6f;*/
    color: black;
}

.custom-navbar {
    background-color: white;
    border-bottom: 1px solid #d3e0e9;
    margin-bottom: 22px;
    min-height: 50px;
    padding: .2rem 1rem;
}

.background {
    background-color: white;
    border: 1px solid #d3e0e9;
    border-radius: 5px;
}

.sidebar-nav li > span {
    color: rgba(0, 0, 0, 0.7);
    font-size: 90%;
}

.navbar-brand {
    color: #5e5d5d !important;
    /*color: #777 !important;*/
    font-size: 18px;
}

.card {
    border: 1px solid #d3e0e9;
}

.nav-link {
    /*color: #636b6f;*/
    color: black;
}

.nav-item > a.active {
    background-color: #007bff;
    /*background-color: #d3e0e9;*/
    /*color: #333;*/
    color: white;
}

.nav-sub-menu {
    width: 100%;
}

.nav-sub-menu li a.nav-link {
    padding-left: 25px;
    font-size: 85%;
    color: black;
    /*background-color: #fbfbfb;*/
}

.nav-sub-menu li a.nav-link.active {
    padding-left: 25px;
    font-size: 85%;
    color: white;
    /*background-color: #fbfbfb;*/
}

.dropdown-item {
    font-size: 90%;
}

.footer {
    bottom: 0;
    background-color: white;
    border-top: 1px solid #d3e0e9;
    border-bottom: 1px solid #d3e0e9;
    margin-top: 22px;
}

.copyright {
    font-size: 90%;
}

.table-producer {
    table-layout: fixed;
    word-wrap: break-word;
}

.error {
    color: red;
}

.user-link {
    color: blue;
    cursor: pointer;
}

.user-link:hover {
    text-decoration: none;
}
