body {
    font-family: "Century Gothic";
}

.navbar-light .navbar-nav .nav-link{
    color: #942E08;
}

#global-nav {
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 100px;
    width: 100%;
    background: transparent;
    color: #942E08;
    font-size: 16px;
    line-height: 30px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

.site-title {
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.scrolled-nav .site-title  {
    font-size: 16px;
}

.scrolled-nav {
    height: 60px !important;
    line-height: 30px !important;
    background: rgba(233, 207, 172, 0.75) !important;
}

.show-on-hover {
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 60%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    /* padding: .5rem 0; */
    margin: .125rem 0 0;
    padding-left: 5px;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    /* border-radius: .25rem; */
}

.background {
    background-color: #A11E00;
    border: 1px solid rgba(172, 67, 45, 0.91);
    border-radius: 1px;
    color: #fff;
    font-weight: 500;
}

/** Product description scroll */
.c--anim-btn span {
    text-decoration: none;
    text-align: center;
    display: block;
}

.c--anim-btn, .c-anim-btn {
    transition: 0.65s;
}

.c--anim-btn {
    height: 64px;
    color: #707070;
    overflow: hidden;
    font-size: 85%;
}

.c-anim-btn {
    margin-top: 0em;
}

.c--anim-btn:hover .c-anim-btn {
    margin-top: -3em;
}

.title-color {
    color: #912513;
}

hr {
    color: #912513;
    line-height: 3px;
}