body {
    font-family: "Century Gothic";
}

hr {
    color: #912513;
    height:1px;
    border:none;
    background-color: rgba(193, 45, 25, 0.59);
}

a {
    color: #912513;
}



.navbar-light .navbar-nav .nav-link{
    color: #942E08;
}


#global-nav {
    position: fixed;
    top: 0;
    z-index: 500;
    height: 100px;
    width: 100%;
    background: transparent;
    color: maroon;
    font-size: 16px;
    line-height: 30px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

#global-nav:hover {
    background: rgba(230, 0, 0, 0.16);
    transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.site-title {
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.scrolled-nav .site-title  {
    font-size: 16px;
}

.scrolled-nav {
    height: 60px !important;
    line-height: 30px !important;
    background: maroon !important;
}

.scrolled-links {
    color: #d2cbcb !important;
}

.show-on-hover {
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 60%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    /* padding: .5rem 0; */
    margin: .125rem 0 0;
    padding-left: 5px;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    /* border-radius: .25rem; */
}

/*.background {*/
    /*background-color: #A11E00;*/
    /*border: 1px solid rgba(172, 67, 45, 0.91);*/
    /*border-radius: 1px;*/
    /*font-weight: 500;*/
/*}*/

/** Product description scroll */
.c--anim-btn span {
    text-decoration: none;
    text-align: center;
    display: block;

}

.c--anim-btn, .c-anim-btn {
    transition: 0.65s;
    -webkit-transition-timing-function: vertical;
    -moz-transition-timing-function: vertical;
    transition-timing-function: vertical;
}

.c--anim-btn {
    height: 80px;
    color: #707070;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 85%;
}

.c-anim-btn {
    margin-top: -.5em;
}

.c--anim-btn:hover .c-anim-btn {
    margin-top: -3em;
}

.title-color {
    color: maroon;
}

.h1-color {
    color: maroon;
    text-shadow: #ff3109 1px 1px 1px;
}

.image-box{
    width: 100%;
    overflow:hidden;
}
.image {
    width: 100%;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.image:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}

.anp-btn {
    cursor: pointer;
    background: #990000;
    color: #fff;
}

.anp-btn:hover {
    color: white;
    background-color: #800000;
    text-shadow: 0 0 10px rgba(253, 119, 83, 0.61);
}

.btn-cart {
    border: 1px solid #912513;
    background: #fff;
    border-radius: 10px;
}

.btn-cart:hover {
    background: rgba(248, 90, 71, 0.66);
    transform: scale(1.05);
}

/* Mobile Nav */

#cd-cart-trigger a {
    color: #c2cac0;
    z-index: 5;
}
@media only screen and (min-width: 576px) {
    #cd-cart-trigger a {
        height: 50px;
        width: 50px;
        border: 1px solid #088094;
        position: absolute;
        right: 12%;
        top: 0;
    }
}

#cd-cart {
    position: fixed;
    top: 0;
    height: 100%;
    width: 60%;
    /* header height */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 2000;
}

@media only screen and (min-width: 768px) {
    #cd-cart {
        width: 350px;
    }
}
@media only screen and (min-width: 1200px) {
    #cd-cart {
        width: 30%;
        /* header height has changed */
        padding-top: 80px;
    }
}

#cd-cart {
    right: -100%;
    background: maroon;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
}
#cd-cart.speed-in {
    right: 0;
}
#cd-cart > * {
    padding: 0 1em;
}
#cd-cart .cd-cart-items {
    padding: 0;
}
#cd-cart .cd-cart-items li {
    position: relative;
    padding: 1em;
    border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc;
}
#cd-cart .cd-price {
    margin-top: .4em;
}
.no-touch #cd-cart .cd-item-remove:hover {
    background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
    float: right;
}
#cd-cart .cd-cart-total::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
#cd-cart .checkout-btn {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #7dcf85;
    color: #FFF;
    text-align: center;
}
.no-touch #cd-cart .checkout-btn:hover {
    background: #a2dda8;
    text-decoration: none;
}
#cd-cart .cd-go-to-cart {
    text-align: center;
    margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
    text-decoration: none;
}

.collection-padding {
    padding-left: 30px;
}

@media only screen and (min-width: 1200px) {
    #cd-cart > * {
        padding: 0 2em;
    }
    #cd-cart .cd-cart-items li {
        padding: 1em 2em;
    }
    #cd-cart .cd-item-remove {
        right: 2em;
    }
    .collection-padding {
        padding-left: 60px;
    }
}

#cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(121, 78, 77, 0.6);
    cursor: pointer;
    z-index: 300;
    display: none;
}
#cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}
.cd-img-replace {
    /* replace text with a background-image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}


/* --------------------------------

xkeyframes

-------------------------------- */
@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
