.custom-navbar {
    /*background-color: white !important;*/
    /*border-bottom: 1px solid #CC491E !important;*/
    /*background-color: transparent;*/
    background-color: maroon !important;
    border-bottom-color: none !important;
    margin-bottom: 22px;
    min-height: 50px;
    padding: .2rem 1rem;
}

a.navbar-brand {
    color: white !important;
    /*color: #CC491E !important;*/
    font-size: 18px;
}

.custom-navbar-nav li a {
    color: white !important;
    /*color: #CC491E !important;*/
}

div.custom-card-login .card-header {
    background-color: rgba(218, 63, 28, 1) !important;
    color: white;
}

.content {
    margin-top: 73px;
}

body {
    /*font-family: 'Raleway', sans-serif;*/
    /*background-color: #f5f8fa;*/
    /*background-color: #eee;*/
    font-size: 14px;
    line-height: 1.6;
    /*color: #636b6f;*/
    color: black;
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff !important;
    background-color: rgba(218, 63, 28, 1) !important;
    border-color: rgba(218, 63, 28, 1) !important;
}

.page-link {
    color: rgba(218, 63, 28, 1) !important;
}

.background {
    background-color: white;
    /*border: 1px solid #d3e0e9;*/
    /*border: 1px solid rgb(161, 30, 0);*/
    border: 1px solid rgba(218, 63, 28, .5);
    border-radius: 5px;
}

.sidebar-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    overflow-y: auto;
}

.sidebar-nav li > span {
    /*color: rgba(161, 30, 0, 1);*/
    color: rgba(218, 63, 28, 1);
    font-size: 90%;
}

.card {
    /*border: 1px solid #d3e0e9;*/
    border: 1px solid rgba(218, 63, 28, .5);
    /*border: 1px solid rgb(161, 30, 0);*/
}

.custom-list-group li.list-group-item {
    border: 1px solid rgba(218, 63, 28, .5);
    /*border: 1px solid rgb(161, 30, 0);*/
    border-left: 0;
    border-right: 0;
}

.shop-header-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, .8);*/
    background-color: rgba(218, 63, 28, 0.8) !important;
}

.shop-header-cover .shop-header-cover-title {
    display: flex;
    align-items: center;
    justify-content: center;
    /*color: rgba(161, 30, 0, 1);*/
    color: white;
    margin-top: 100px;
}

.text-color-theme {
    color: rgba(161, 30, 0, 1);
}

.text-color-secondary {
    color: rgba(218, 63, 28, 1) !important;
}

.breaker {
    background-color: rgba(218, 63, 28, 1) !important;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-theme-color {
    background-color: rgba(161, 30, 0, 1);
    /*border: 1px solid rgba(218, 63, 28, 1) !important;*/
    color: white !important;
}

.btn-secondary-color {
    background-color: rgba(218, 63, 28, 1) !important;
    /*border: 1px solid rgba(218, 63, 28, 1) !important;*/
    color: white !important;
}

.nav-link {
    /*color: #636b6f;*/
    color: black;
}

.nav-item > a.active {
    background-color: #007bff;
    /*background-color: #d3e0e9;*/
    /*color: #333;*/
    color: white;
}

.nav-sub-menu {
    width: 100%;
}

.nav-sub-menu li a.nav-link {
    padding-left: 25px;
    font-size: 85%;
    color: black;
    /*background-color: #fbfbfb;*/
}

.nav-sub-menu li a.nav-link.active {
    padding-left: 25px;
    font-size: 85%;
    color: white;
    /*background-color: #fbfbfb;*/
}

.dropdown-item {
    font-size: 90%;
}

.footer {
    bottom: 0;
    background-color: white;
    border-top: 1px solid #d3e0e9;
    border-bottom: 1px solid #d3e0e9;
    margin-top: 22px;
}

.copyright {
    font-size: 90%;
}

div.dropdown-menu a.dropdown-item {
    color: rgba(218, 63, 28, 1) !important;
}

footer, footer a {
    color: white !important;
}

footer div.footer-background {
    background-color: maroon !important;
}

footer div.copyright-background{
    background-color: #4e0000 !important;
    border-top: 1px solid rgba(212, 65, 31, 1) !important;
}

footer .page-header {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.footer-nav li > a.nav-link {
    padding: .2rem 0rem !important;
    font-size: 90% !important;
}
